*{
    box-sizing: border-box;
}
body{
    background-image: url('https://s0.rbk.ru/v6_top_pics/resized/1440xH/media/img/2/70/755285330500702.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    
}
.container{
    
    background: white;
    padding: 10px;
    height: 100vh;
    opacity: 0.7;
}
.row    {
    background: rgb(255, 255, 255);
    display: inline-flex; 
    margin: 0;
    width: 100%;
    
}
.col{

    background: white;
    display: flex; 
    margin: 0 5px;
    width: 100% ;
    height: 98.8vh;
}
.first{
    display: inline;
    width: 30%;
    background: bisque;
    text-align: center; 
}
.first p{
    color: blue;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 30px;
}
.first h2{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
.sec{

    border: 5px double rgb(0, 0, 0);
display: block;
}
.sec p{
    color: black;
    padding:5px ;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.third{
    min-width: 120px;
    max-width: 200px;
    width: 20%;
    max-height: 300px;
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between  ;
    background: white;
    height: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-bottom: 1px solid #000;
}

.list{
    align-self: center;
    align-items: flex-end;
    justify-content: flex-end;
    width: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 50px;
    width: auto;
}

.list li{
    display: inline;
    border: 1px solid #000;
    padding: 5px 15px;
    margin-left: 5px;
    font-size: 20px;
    
}

h1{
    background: chartreuse;
    padding-top: 5px;
    text-align: center;
   
}

footer{
    border-top: 2px solid #000;
    background: chocolate;
    font-size: 20px;
    height: 5vh;
    margin: 0;

}
footer p{
    margin-top: auto;
margin-left: auto;
}



